<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Todo Application</title>
</head>
<body>
        <form action="/addtodo" method="post">

            <input type="text" name="TaskContent" placeholder="Write your Task">
            <button type="submit">Add Todo</button>
        </form>

        <ul>
            <li th:each="todo : ${TodoList}">
                <form th:action="@{/updatetodo/{id}(id=${todo.id})}" method="post">
                    <input type="text" th:value="${todo.TaskContent}" name="TaskContent">
                    <input type="checkbox" th:checked="${todo.CompletionStatus}" name="CompletionStatus" onchange="this.form.submit()">
                    <button type="submit">UPDATE</button>
                    <button type="submit" th:href="@{/deletetodo/{id}(id=${todo.id})}">DELETE</button>
                </form>
                <a th:href="@{/deletetodo/{id}(id=${todo.id})}">Delete</a>
            </li>
        </ul>
</body>
</html>